bin
obj
/JsonFilters
/WordLists
*.csv
/WordLists
/JsonFilters
/Motely/JsonFilters
/Motely/WordLists
Motely/filters/NegativeScore=2.ini
.claude/settings.local.json
*.swp
.claude/settings.local.json
/.vscode
Motely/JsonFilters/perkeo-test.json
/Terminal.Gui-2_develop
/Motely/JsonFiltersArchive
*.db
*.wal
/Motely/JamlFilters
Motely/fertilizer.txt
/JsonItemFilters
/Motely/JsonItemFilters
/Motely/JsonItemFiltersArchive
