# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build Motely as library for tests
      run: dotnet build Motely/Motely.csproj -c BSO_LIBRARY --no-restore
    - name: Build
      run: dotnet build --no-restore
    - name: Build CLI configuration
      run: dotnet build Motely/Motely.csproj -c CLI
    - name: Test
      run: dotnet test --verbosity normal
